.CodeMirror-search-hint input{
    width: 20em !important;
    /*doesnt work this for some reason. maybe the width is set by js */
}
.CodeMirror-search-hint{
    font-size: 14px;
}

.cm-searching {
    background-color: var(--secondary-highlight) !important;
    color: var(--bg) !important;
}

button{
    color: var(--bg);
    background-color: var(--text);
    border: none; 
    padding: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  /*-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
  /*-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
  /*box-shadow: 2px 3px 5px rgba(0,0,0,.2);*/
  border-radius: 0;
  border: none;

  background: var(--bg);
  font-size: 16px;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 4px;
  /*border-radius: 2px;*/
  white-space: pre;
  color: var(--text);
  cursor: pointer;
  border-radius: 0;
  border: none;

}

li.CodeMirror-hint-active {
  background: var(--secondary-highlight);
  color: var(--bg);
  border-radius: 0;
  border: none;

}


.CodeMirror-lint-message-error,
.CodeMirror-lint-marker-error,
.CodeMirror-lint-message-warning,
.CodeMirror-lint-marker-warning,
.CodeMirror-lint-marker-multiple{
    background-image: none !important;
}

.CodeMirror-lint-marker-warning
{
    border-radius: 100%;
    transform: scale(0.5);
    background-color: #c4c411;
}

.CodeMirror-lint-marker-error{
    border-radius: 100%;
    transform: scale(0.5);
    background-color: red;
}

.CodeMirror-lint-message{
    padding-left: 0px;
}